{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-md-6 pull-left">
            <button class="btn btn-success">Insert</button>
            <button class="btn btn-warning">Branch</button>
            <button class="btn btn-default">Synonyms</button>
        </div>
    </div>
    <hr>
<div class="row">
    <div class="col-md-12">
        <form method="post" action="." >{% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-success" id="file_submit">
                    {% bootstrap_icon "floppy-save" %} Submit
                </button>
            </form>
        </div>
    </div>
{% endblock content %}