{% extends 'base.html' %}
{% block extracss %}
{% endblock extracss %}
{% block content %}
    <h1 class="display-3">Welcome,to file menu</h1>
    <p class="lead">Add or view files here.</p>
    <p class="lead">
        <br><br>
        <a class="btn btn-primary" href="{% url 'files:create' %}">New file</a>
    </p>
    <div class="row">
        {% if file_qs|length_is:"0" %}
            <p>There is no file for you, please add one from <a href="{% url 'files:create' %}">here</a></p>
        {% else %}
            <table class="table table-responsive table-striped  table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Fields</th>
                    <th>Rows Count</th>
                    <th>Added On</th>
                    <th>View_file</th>
                </tr>
                </thead>
                <tbody>
                {% for collection in collection_list %}
                    <tr>
                        {% for turn in collection %}
                            <td>
                                {% if forloop.last %}

                                    <a href="{{ turn.get_absolute_url }}" class="btn btn-info">View Data</a>
                                {% elif forloop.counter == 2 %}
                                    {% for field in turn %}
                                        <h5 style="display: inline">{% if field.1 == 'str' %}
                                            <span class="label label-primary" title="String">{{ field.0 }}</span>
                                        {% elif field.1 == 'int' %}
                                            <span class="label label-success" title="Integer">{{ field.0 }}</span>
                                        {% elif field.1 == 'bool' %}
                                            <span class="label label-default" title="Boolean">{{ field.0 }}</span>
                                        {% elif field.1 == 'float' %}
                                            <span class="label label-info" title="Float">{{ field.0 }}</span>

                                        {% endif %}</h5>

                                    {% endfor %}
                                {% else %}
                                    {{ turn }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endif %}

    </div>
{% endblock %}